* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto Condensed';
}

.breadcrumbs {
    padding-bottom: 70px;
}

.breadcrumbs_main {
    font-size: 32px;
    /* font-weight: bold; */
    color: #a24157;
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    text-decoration: none;
    /* font-family: 'Roboto Condensed'; */
}

.breadcrumbs_main:hover {
    color: #ed6a6c;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.breadcrumbs_additional {
    font-size: 32px;
    /* font-weight: bold; */
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    text-decoration: none;
    /* font-family: 'Roboto Condensed'; */
}

.panel {
    padding: 110px;
    position: relative;
}

.panel .title {
    font-size: 22px;
    font-weight: bold;
    color: #a24157;
    text-transform: uppercase;
    position: relative;
}

.panel .title.hyphen::before {
    content: "";
    width: 46px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: -110px;
    top: 10px;
}

.panel .description {
    font-size: 30px;
    font-weight: bold;
    color: #092344;
    margin: 54px 0 0 0;
}

.content-panel, .form {
    background: #fff;
}

.partner-entry {
    position: relative;
}

.partner-entry.text {
    padding: 44px 34px 44px 41px;
}

.partner-entry.text .title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: none;
}

.partner-entry img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
}

.partner-entry.text .corners {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    margin-top: 34px;
}

.partner-entry::before, .partner-entry::after, .partner-entry .corners::before, .partner-entry .corners::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

.partner-entry::before {
    left: 0;
    top: 0;
    border-left-color: #1f4473;
    border-top-color: #1f4473;
}

.partner-entry::after {
    right: 0;
    top: 0;
    border-right-color: #1f4473;
    border-top-color: #1f4473;
}

.partner-entry .corners::before {
    left: 0;
    bottom: 0;
    border-left-color: #1f4473;
    border-bottom-color: #1f4473;
}

.partner-entry .corners::after {
    right: 0;
    bottom: 0;
    border-right-color: #1f4473;
    border-bottom-color: #1f4473;
}

.partners-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partners-list ul {
    padding-left: -40px !important;
}

.partners {
    background: #081f3c;
}

.partners-list li {
    width: calc((100vw - 110px)/6);
    height: calc((100vw - 110px)/6);
    margin-left: -1px;
    margin-top: -1px;
}

@media screen and (max-width: 1024px) {
    .panel {
        padding: 110px 60px;
    }
    .breadcrumbs {
        margin-left: 36px;
    }
    .partners .partners-list li {
        width: calc((100vw - 120px)/4);
        height: calc((100vw - 120px)/4);
    }
}

@media screen and (max-width: 960px) {
    .panel {
        padding: 110px 36px;
    }
    .breadcrumbs {
        margin-left: 36px;
    }
    .partners .partners-list li {
        width: calc((100vw - 70px)/4);
        height: calc((100vw - 70px)/4);
    }
}

@media screen and (max-width: 600px) {
    .panel {
        padding: 60px 20px;
    }
    .breadcrumbs {
        margin-left: 20px;
    }
    .partners .partners-list li {
        width: calc((100vw - 40px)/4);
        height: calc((100vw - 40px)/4);
    }
}