<div class="panel">
  <h3 class="title hyphen">Что мы предлагаем?</h3>
  <div class="short-info-list">
    <div class="short-info">
      <h3>Анализ<br />данных</h3>
      <div class="more">
        <p>Распознавание лиц и эмоций, поиск объектов, автоматическое аннотирование.</p>
        <div class="proposal_more_button" (click)="download('emotions_wp_2019.pdf')">
          <div class="proposal_more">Узнать больше</div>
          <div class="proposal_arrow"></div>
        </div>
      </div>
    </div>
    <div class="short-info">
      <h3>Обработка<br />данных</h3>
      <div class="more">
        <p>Высокоскоростная потоковая обработка данных. Быстрая проверка качества данных, проведение конвертации,
          поиск, доставка персонифицированного контента.</p>
        <!-- <div class="proposal_more_button">
          <div class="proposal_more">Узнать больше</div>
          <div class="proposal_arrow"></div>
        </div> -->
      </div>
    </div>
    <div class="short-info">
      <h3>Масштабируемая<br />платформа</h3>
      <div class="more">
        <p>Задачи обработки и анализа данных могут выполняться в частном или публичном облаке, масштабируемом в
          оперативном режиме.</p>
        <!-- <div class="proposal_more_button">
          <div class="proposal_more">Узнать больше</div>
          <div class="proposal_arrow"></div> 
      </div>-->
      </div>
    </div>
  </div>
</div>

<div class="panel content-panel">
  <h3 class="title">Продукт</h3>
  <a class="download-pdf" (click)="download('smedx_data_analyze.pdf')">скачать презентацию</a>
  <div class="description">
    Аналитическая программная платформа с уникальной безсерверной архитектурой обработки информационных потоков и
    собственными алгоритмами анализа больших данных
  </div>
  <div class="grid-list">
    <div class="grid-list-item">
      <div class="image">
        <img src="/static/ng/assets/images/ic_product_1.png" />
      </div>
      <div class="text">
        <h3>Storage</h3>
        <p>Безопасное хранилище медиа контента, с быстрым доступом к данным. Преобразование данных в фоновом режиме.</p>
      </div>
    </div>
    <div class="grid-list-item">
      <div class="image">
        <img src="/static/ng/assets/images/ic_product_2.png" />
      </div>
      <div class="text">
        <h3>Network accessibility</h3>
        <p>Сетевой доступ к медиа-ресурсам</p>
      </div>
    </div>
    <div class="grid-list-item">
      <div class="image">
        <img src="/static/ng/assets/images/ic_product_3.png" />
      </div>
      <div class="text">
        <h3>Computing power</h3>
        <p>Эффективное использование вычислительных ресурсов. Очередь задач для GPU модулей</p>
      </div>
    </div>
    <div class="grid-list-item">
      <div class="image">
        <img src="/static/ng/assets/images/ic_product_4.png" />
      </div>
      <div class="text">
        <h3>Machine learning</h3>
        <p>Поиск медиа-контента по содержимому, автоматическая аннотация, поиск объектов</p>
      </div>
    </div>
  </div>
</div>