<div class="panel application-areas">
    <h3 class="title hyphen">Сферы применения</h3>

    <div class="description">
      <p>Наш продукт предназначен для работы с медиаконтентом.<br>
        Но он оказался настолько хорош, что им пользуются и в других отраслях</p>
    </div>
</div>
<ul class="box-list">
    <li class="corner-box text">
      <h4 class="title">Медиа</h4>
      <div class="corners">
        Обработка потоков входящих данных, поиск и доставка нужного контента, анализ информации
      </div>
    </li>
    <li class="corner-box text">
      <h4 class="title">Ритэйл</h4>
      <div class="corners">
        Контроль торгового зала, актуальное персонифицированое предложение, анализ покупательской ценности
      </div>
    </li>
    <li class="corner-box text">
      <h4 class="title">Безопасность</h4>
      <div class="corners">
        Распознавание лиц и объектов, поиск и анализ уязвимостей в потоке данных
      </div>
    </li>
  </ul>
