<div class="agreement_body">
  <h2>Соглашение об обработке персональных данных</h2>
  <p>
    Соглашение об обработке персональных данных (далее по тексту — Соглашение) является публичной офертой. Термины,
    применяемые в настоящем Соглашении:
  </p>
  <p>
    <b>Сайт</b> — это совокупность текстов, графических
    элементов, дизайна, изображений, программного кода, фото- и видеоматериалов и иных
    результатов интеллектуальной деятельности Администрации Сайта, содержащихся в сети
    Интернет под доменным именем http://www.smedx.ru/ .
  </p>
  <p>
    <b>Администрация Сайта</b> — это
    общества и лица, обладающие правами администрирования Сайта. Пользователь — это
    любое лицо, осуществившее вход на Сайт, заполнившее поля онлайн-форм на Сайте и
    принявшее условия настоящего Соглашения.
  </p>
  <p>
    <b>Персональные данные</b> — данные, указанные
    Пользователем в онлайн-формах Сайта (имя, фамилия, место работы, должность, адрес
    электронной почты, номер телефона). 
  </p>
  <p>
    <b>Обработка персональных данных</b> — перечень действий с персональными данными Пользователя, заполнившего поля онлайн-форм или
    совокупность действий (операций), совершаемых с использованием средств
    автоматизации или без использования таких средств с персональными данными, включая
    сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
    извлечение, использование, передачу (распространение, предоставление, доступ),
    обезличивание, блокирование, удаление, уничтожение персональных данных, с
    соблюдением мер, обеспечивающих защиту персональных данных от
    несанкционированного доступа.
  </p> 

  <ul>
    <li>
      1. Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте http://www.smedx.com/ (далее — Сайт),
      принадлежащем ООО
      Медэкс (далее — Администрация Сайта), путем заполнения полей форм онлайн-заявок,
      Пользователь: — подтверждает, что все указанные им данные принадлежат лично ему, —
      подтверждает и признает, что им внимательно в полном объеме прочитано данное
      Соглашение и условия обработки Администрацией Сайта его персональных данных,
      указываемых им в полях онлайн-заявок, текст соглашения и условия обработки
      персональных данных ему понятны; — дает согласие на обработку Администрацией
      Сайта предоставляемых в составе информации персональных данных в целях заключения
      между ним и Администрацией Сайта настоящего Соглашения, а также его последующего
      исполнения; — выражает согласие с условиями обработки персональных данных без
      оговорок и ограничений, а именно с совершением Администрацией Сайта действий,
      предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О
      персональных данных», и подтверждает, что, давая такое согласие, он действует
      свободно, по своей волей и в своих интересах.
    </li>
    <li>
      2. Администрация Сайта использует персональные данные Пользователя для: — обработки персональных данных, которые
      необходимы для предоставления и оказания услуг Пользователю; — создания, анализа и
      мониторинга клиентской базы; — информирования Пользователя о конкурсах и
      рекламных акциях; — рассылки новостей Сайта Пользователю; — информирования
      Пользователя о новых продуктах и услугах; — информирования об акциях и специальных
      предложениях; — уведомления Пользователя о различных событиях.
    </li>
    <li>
      3. Администрация Сайта вправе обрабатывать персональные данные посредством внесения их в электронные
      базы данных, включения в списки (реестры) и внутренние отчетные формы. Обработка
      персональных данных может быть, как автоматизированная, так и без использования
      средств автоматизации.
    </li>
    <li>
      4. Принимая условия настоящего Соглашения, Пользователь
      также соглашается с получением информационной и(или) рекламной рассылки по
      телефону (в формате смс-сообщений) и/или по электронной почте от Администрации
      Сайта.
    </li>
    <li>
      5. Соглашение действует бессрочно с момента предоставления Пользователем
      своих данных и может быть отозвано Пользователем в любой момент путем направления
      Пользователем соответствующего распоряжения или заявления в простой письменной
      форме на адрес электронной почты goodnews@smedx.com
    </li>
    <li>
      6. Администрация Сайта имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной
      редакции указывается дата последнего обновления. Новая редакция Соглашения вступает
      в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.
    </li>
    <li>
      7. Действующая редакция Соглашения находится на Сайте на странице по http://www.smedx.ru/agreement
      адресу:
    </li>
  </ul>
  <p>
    Россия, г. Самара ООО Медэкс,  443110, проспект Ленина, д.3, ком.46
    ИНН 6316195903, КПП 631601001, ОГРН 1146316001666
  </p>

</div>