<!-- <app-contact-form></app-contact-form> -->
<footer class="site-footer">
  <div class="footer-logo">
    <a href="/">
      <img src="/static/ng/assets/images/ic_logo_footer.png" />
    </a>
    <img src="/static/ng/assets/images/head-logo.svg"  class="bort_fond_logo" alt="">
    <div class="copyright">
      <div>&copy;SMedX 2018</div>
      <div>All Rights Reserved</div>
    </div>
  </div>
  <ul class="footer-menu">
    <li>
      <a class="defaultLi" routerLink="/about">О нас</a>
    </li>
    <li>
      <a class="defaultLi" routerLink="/newsblog">Новости</a>
    </li>
    <li>
      <a class="defaultLi" routerLink="/partners">Партнеры</a>
    </li>
    <li>
      <a class="defaultLi" routerLink="/contacts">Контакты</a>
    </li>

    <li>
      <a class="defaultLi" routerLink="/competencies">Наши компетенции</a>
    </li>
    <li>
      <!-- <a class="defaultLi" routerLink="/cases">Кейсы</a> -->
    </li>
    <li>
      <a class="defaultLi" routerLink="/product">Продукт</a>
    </li>
  </ul>
  <div class="footer-feedback">
    <h3>Обратная связь</h3>
    <a class="mail" href="mailto:admin@smedx.com">admin@smedx.com</a>
    <!-- <address><a href="https://goo.gl/maps/zEVXGfHhyex" target="_blank">9 Tv. Alto de Vila Porto Portugal</a></address> -->
    <address><a href="https://www.google.com/maps/place/%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5+%D1%88.,+34%D0%91,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+443086/@53.2127016,50.1781783,19z/data=!3m1!4b1!4m5!3m4!1s0x41661ebcc5da1aa3:0x5e9e775d8b32bf3d!8m2!3d53.2127016!4d50.1787255"
        target="_blank">443086, Россия, Самара, Московское шоссе 34А, корпус 3Б</a></address>
    <a routerLink="agreement" class="agreement_link">Соглашение об обработке персональных данных</a>
  </div>
</footer>
<footer id="footer" class="mobile-footer">
  <ul>
    <li>
      <a href="mailto:admin@smedx.com">admin@smedx.com</a>
    </li>
    <!-- <li>
      <address><a href="https://goo.gl/maps/zEVXGfHhyex" target="_blank">9 Tv. Alto de Vila Porto Portugal</a></address>
    </li> -->
    <li>
      <img src="/static/ng/assets/images/head-logo.svg"  class="bort_fond_mobile_logo" alt="">
    </li>
    <li>
      <address><a href="https://www.google.com/maps/place/%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5+%D1%88.,+34%D0%91,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+443086/@53.2127016,50.1781783,19z/data=!3m1!4b1!4m5!3m4!1s0x41661ebcc5da1aa3:0x5e9e775d8b32bf3d!8m2!3d53.2127016!4d50.1787255"
          target="_blank">443086, Россия, Самара, Московское шоссе 34А, корпус 3Б</a></address>
    </li>    
    <li>
      <a routerLink="agreement" class="agreement_link">Соглашение об обработке персональных данных</a>
    </li>
    <li>
      <div>&copy;SMedX <script>document.write(new Date().getFullYear());</script> All Rights Reserved</div>
    </li>
  </ul>
</footer>