.site-footer {
    margin: 108px 0 121px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-footer .footer-feedback {
    flex: 0 0 460px;
    max-width: 30vw;
}

.site-footer .footer-feedback h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #a24157;
    margin-bottom: 15px;
}

.site-footer .footer-feedback a, .site-footer .footer-feedback address {
    font-size: 16px;
    line-height: 2.25;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.agreement_link {
    text-decoration: underline !important;
    text-transform: none !important;
}

.agreement_link:hover {
    text-decoration: none !important;
    color: #a24157 !important;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.site-footer .footer-feedback .mail {
    background-image: url("/assets/images/ic_footer_mail.png");
    background-repeat: no-repeat;
    background-position-y: 4px;
    padding-left: 25px;
}

.site-footer .footer-feedback address {
    background-image: url("/assets/images/ic_footer_address.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position-y: 6px;
}

.site-footer .footer-logo .copyright {
    font-size: 16px;
    color: #8491a1;
    margin-top: 10px;
}

.site-footer .footer-logo {
    flex: 0 0 140px;
    max-width: 30vw;
}

.site-footer .footer-menu {
    /* flex: 1 1 auto; */
    list-style: none;
    /* margin: 0 105px; */
   /*  display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    height: 150px;
    max-width: 30vw;
}

.site-footer .footer-menu li {
    display: block;
    width: 180px;
}

/* .site-footer .footer-menu a {
    font-size: 16px;
    line-height: 2.25;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
} */

.defaultLi {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 2.25;
    font-weight: 300;
    cursor: pointer;
}

.defaultLi:hover {
    color: #a24157;
    font-weight: 400;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    /* border-bottom: 3px solid #a24157;
    padding-bottom: 2px;  */
}

.mobile-footer {
    display: none;
}

.bort_fond_logo{
    margin-top: 10px;
}

.bort_fond_mobile_logo {
    max-width: 30vw;
}

@media screen and (max-width: 1024px) {
    .site-footer {
        /* width: 1024px; */
        margin: 108px 0 100px 0;
    }
    .site-footer .footer-feedback {
        flex: none;
        margin-right: 60px;
    }
    .site-footer .footer-logo {
        flex: none;
        margin-left: 60px;
    }
    .site-footer .footer-menu {
        /* margin: 0 64px; */
    }
    .site-footer .footer-menu li {
        width: 140px;
    }
}

@media screen and (max-width: 960px) {
    .site-footer {
        /* width: 960px; */
        margin: 108px 0 100px 0;
    }
    .site-footer .footer-feedback {
        flex: none;
        margin-right: 35px;
    }
    .site-footer .footer-logo {
        flex: none;
        margin-left: 35px;
    }
    .site-footer .footer-menu {
        /* margin: 0 64px; */
    }
    .site-footer .footer-menu li {
        width: 120px;
    }
}

@media screen and (max-width: 600px) {
    .site-footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
    ul {
        padding-top: 95px;
        padding-bottom: 46px;
        list-style: none;
    }
    ul li {
       /*  width: 600px; */
        text-align: center;
        align-content: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 2.25;
        letter-spacing: normal;
    }
    li a {
        font-style: normal;
        color: #ffffff;
        text-decoration: none;
    }
    li .agreement_link {
        text-decoration: underline;
    }
    li div {
        padding-top: 46px;
        color: #8491a1;
    }
}

@media screen and (max-width: 450px) {
    .site-footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
    ul {
        padding-top: 95px;
        padding-bottom: 46px;
        width: 100vw;
    }
    ul li {
        margin: 0 5vw;
        width: 90vw;
        text-align: center;
        align-content: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 36px;
        letter-spacing: normal;
    }
    li a {
        font-style: normal;
        color: #ffffff;
        text-decoration: none;
    }
    li .agreement_link {
        text-decoration: underline;
    }
    li div {
        padding-top: 46px;
        color: #8491a1;
    }
}