<div class="panel form">
  <h3 class="title">Присоединяйтесь к нам</h3>
  <div class="controls">
    <div class="text">
      Подпишитесь на рассылку сегодня и узнайте о самом важном первым.
    </div>
    <div class="fields">
      <form>
        <div class="form-field">
          <input placeholder="Ваша электронная почта" type="email" [(ngModel)]="form.email" name="email" class="email"
            id="mce-EMAIL" />
        </div>
        <div class="form-field inline">
          <input type="text" placeholder="Ваше имя" [(ngModel)]="form.name" name="name" />
          <input type="submit" value="&#9654;" name="subscribe" (click)="submit(form)" />
        </div>
      </form>
      <!-- <form action="http://goodnewssmedxcom.dmsubscribe.ru/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
        class="validate" target="_blank">
        <input type="hidden" name="list_id" value="19889">
        <input type="hidden" name="no_conf" value="">
        <input type="hidden" name="notify" value="">
        <div class="form-field">
          <input type="text" placeholder="Ваша электронная почта" type="email" value="" name="email" class="email" id="mce-EMAIL" />
        </div>
        <div class="form-field inline">
          <input type="text" placeholder="Ваше имя" name="merge_1"/>
          <input type="submit" value="&#9654;" class="submit_btn" name="subscribe" id="mc-embedded-subscribe" />
        </div>
      </form> -->
    </div>
  </div>


  <!-- Begin Signup Form -->
  <!-- <link href="https://180209.selcdn.ru/dasha_static/subscribe/css/slim.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup {
      clear: left;
      font: 14px Helvetica, Arial, sans-serif;
    }

    
  </style>
  <div id="mc_embed_signup">
    <form action="http://goodnewssmedxcom.dmsubscribe.ru/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
      class="validate" target="_blank">
      <input type="hidden" name="list_id" value="19889">
      <input type="hidden" name="no_conf" value="">
      <input type="hidden" name="notify" value="">
      <label for="mce-EMAIL">Подпишитесь на нашу рассылку</label> <input type="email" value="" name="email" class="email"
        id="mce-EMAIL" placeholder="Email адрес" required>
      <div class="clear">
        <input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
  </div> -->

  <!--End mc_embed_signup-->


</div>