<h3 class="breadcrumbs">
  <a routerLink='' class="breadcrumbs_main">Главная</a>
  <span class="breadcrumbs_additional"><span class="dash">&nbsp;/&nbsp;</span>О нас</span>
</h3>

<div class="panel dark_plate">
  <div class="controls">
    <div>
      <h3 class="title">Почему мы?</h3>
      <img id="plugged_brain" src="/static/ng/assets/images/ic_about_brain.png" />
    </div>
    <div class="about_text">
      <h3 class="about_header">Искуственный интеллект для принятия решений и снижения рисков в оперативном режиме</h3>
      <p>
        Получить по-настоящему хорошие результаты в области ИИ по прежнему трудно, так это требует проведения большого
        числа экспериментов. Мы уже прошли этот путь, поэтому с нами быстрее и, в конечном счете, – дешевле.
      </p>
    </div>
  </div>
</div>

<div class="panel-vertical">
  <div class="short-info-list-modified">
    <div class="short-info">
      <img class="advantage_img" src="/static/ng/assets/images/ic_01.png" alt="" />
      <div class="spacer">
        <div class="orange_spacer_1"></div>
      </div>
      <h3>Конфиденциальность</h3>
      <div class="more">
        <p>
          Мы поддерживаем режим строгой конфиденциальности в своей работе, потому что понимаем, что создаем нашим
          клиентам конкурентное преимущество, получая доступ к важным данным и бизнес-планам наших клиентов.
        </p>
        <!-- <button>&#9654;<span class="show_more">Узнать больше</span></button> -->
      </div>
    </div>
    <div class="short-info-cpacer"></div>
    <div class="short-info">
      <img class="advantage_img" src="/static/ng/assets/images/ic_02.png" alt="" />
      <div class="spacer">
        <div class="orange_spacer_2"></div>
      </div>
      <h3>Быстрота и качество</h3>
      <div class="more">
        <p>
          Мы понимаем что применение искусственного интеллекта и технологий big data — это риск для клиентов, как
          технический, так и деловой. Одна задача может быть решена множеством способов. Мы предлагаем быстрый
          прототип, далее совместно принимаем решение, какой подход будет оптимальным, и приступаем к работе. Таким
          образом мы исключаем “исследовательский” риск.
        </p>
        <!-- <button>
          <span class="arrow">&#9654;</span>
          <span class="show_more">Узнать больше</span>
        </button> -->
      </div>
    </div>
    <div class="short-info-cpacer"></div>
    <div class="short-info">
      <img class="advantage_img" src="/static/ng/assets/images/ic_03.png" alt="" />
      <div class="spacer">
        <div class="orange_spacer_3"></div>
      </div>
      <h3>Эффективность</h3>
      <div class="more">
        <p>
          Мы помогаем клиентам эффективнее использовать ресурсы и быстро получить конкурентное преимущество, не тратя
          время на поиск специалистов, обучение, эксперименты, ошибки. Мы все это уже проделали за вас.
        </p>
        <!-- <button>&#9654;<span class="show_more">Узнать больше</span></button> -->
      </div>
    </div>
  </div>
</div>
<div class="panel white_plate">
  <h3 class="title">Кто мы такие?</h3>
  <div class="sub_header">Мы - команда энтузиастов с многолетним опытом в построении пайплайнов обработки данных.</div>
  <div class="plate_flex_content">
    <div class="team_pic_div">
      <!-- <img class="team_pic" src="/static/ng/assets/images/no-image.png" /> -->
      <img src="/static/ng/assets/images/arg_team.jpg" class="team_pic">
    </div>
    <p class="plate_text">
      Наша работа строится на последних достижениях ИИ в области компьютерного зрения и Big Data. В нашем коллективе
      каждый сотрудник уникален и выполняет какую-то сложную и интересную работу, которая больше всего ему по душе и по
      плечу. Именно такое распределение талантов позволяет нам с уверенностью сказать, что наши специалисты выполнят
      любую вашу задачу в лучшем возможном виде.
    </p>
  </div>
</div>

<div class="panel">
  <h3 class="title hyphen">Преимущества</h3>

  <div class="advantage-list advantage-icons-list">
    <div class="advantage-info">
      <div class="stretched_image_container">
        <img class="advantage_img" src="/static/ng/assets/images/ic_plus_1.png" alt="" />
      </div>
      <h3 class="with_stroke">Систематизация</h3>
      <div class="more">
        <p>
          Вы всегда знаете что и где хранится, в каком качестве и зачем оно вообще нужно.
        </p>
      </div>
    </div>
    <div class="advantage-info">
      <div class="stretched_image_container">
        <img class="advantage_img" src="/static/ng/assets/images/ic_plus_2.png" alt="" />
      </div>
      <h3 class="with_stroke">Защита</h3>
      <div class="more">
        <p>
          Безопасность всех ваших данных, защита серверов. Абсолютный контроль.
        </p>
      </div>
    </div>
    <div class="advantage-info">
      <div class="stretched_image_container">
        <img class="advantage_img" src="/static/ng/assets/images/ic_plus_3.png" alt="" />
      </div>
      <h3 class="with_stroke">Отдача</h3>
      <div class="more">
        <p>
          Максимальная отдача инвестиций "в железо".
        </p>
      </div>
    </div>
    <div class="advantage-info">
      <div class="stretched_image_container">
        <img class="advantage_img" src="/static/ng/assets/images/ic_plus_4.png" alt="" />
      </div>
      <h3 class="with_stroke">Эффективность</h3>
      <div class="more">
        <p>
          Искуственный интеллект, чтобы не искать, а находить то, что нужно прямо сейчас.
        </p>
      </div>
    </div>
  </div>
</div>