<div class="panel">
  
    <h3 class="breadcrumbs">
      <a routerLink='' class="breadcrumbs_main">Главная</a>
      <span class="breadcrumbs_additional"><span class="dash">&nbsp;/&nbsp;</span>Кейсы</span>
    </h3>
  
    <div class="tiles">
      <div class="tile big-tile">
        <img src="/static/ng/assets/images/case_1.jpg" />
        <div class="overlay"></div>
        <div class="content">
          <h3>Nominum USA</h3>
          <p>Масштабируемая безсерверная платформа обработки информации от  DNS-серверов с пропускной способностью  1 Тб в день.</p>
          <a href="#" class="more">Подробнее</a>
        </div>
      </div>
      <div class="tile big-tile">
        <div class="tile small-tile">
          <img src="/static/ng/assets/images/case_2.jpg" />
          <div class="overlay"></div>
          <div class="content">
            <h3>Nominum</h3>
            <p>Потоковая обработка больших данных от 10000 серверов в режиме реального времени</p>
            <a href="#" class="more">Подробнее</a>
          </div>
        </div>
        <div class="tile small-tile">
          <img src="/static/ng/assets/images/case_3.jpg" />
          <div class="overlay"></div>
          <div class="content">
            <h3>Nominum</h3>
            <p>Потоковая обработка больших данных от 10000 серверов в режиме реального времени</p>
            <a href="#" class="more">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>