* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto Condensed';
}

/* @font-face {
    font-family: RobotoSVG;
    src: url("/assets/fonts/ROBOTO-BOLDCONDENSED.TTF");
} */

.panel {
    padding: 110px;
    position: relative;
}

.presentation {
    height: 732px;
    max-width: 1140px;
    width: calc(100vw - 70px);
    /*
    1920: 40vw
    */
    background: url("/assets/images/presentation.png");
}

.title {
    /* font-family: RobotoSVG; */
    font-size: 75px;
    /* font-weight: bold; */
    line-height: 1.13;
    color: #fff;
    text-transform: uppercase;
    padding: 150px 117px 21px 117px;
}

.presentation .title span, .presentation .sub-title span {
    background: #092344;
    box-shadow: 0.5em 0 0 #092344;
}

.presentation .title .accent {
    color: #e0666a;
}

.presentation .sub-title {
    font-size: 23px;
    font-weight: 100;
    color: #fff;
    padding: 0 0 0 117px;
}

.presentation button {
    margin: 72px 117px;
}

button {
    width: 187px;
    height: 44px;
    border: solid 1px #fff;
    background: #092344;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #ed6a6c;
    cursor: pointer;
    padding: 13px 30px 16px 30px;
}

button:hover {
    background: #ffffff;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

@media screen and (max-width: 1024px) {
    .panel {
        padding: 110px 60px;
    }
    .title {
        padding: 150px 60px 21px 60px;
    }

    .presentation {
        width: calc(100vw - 70px);
        margin: 0 35px;
    }
    .presentation .sub-title {
        padding: 0 0 0 60px;
    }
    .presentation button {
        margin: 60px 60px;
    }
}

@media screen and (max-width: 1024px) {
    .panel {
        padding: 110px 60px;
    }
}

@media screen and (max-width: 960px) {
    .panel {
        padding: 110px 36px;
    }
}

@media screen and (max-width: 960px) {
    .panel {
        padding: 110px 36px;
    }
    .title {
        padding: 150px 40px 21px 40px;
    }
    .presentation .sub-title {
        padding: 0 0 0 40px;
    }
    .presentation button {
        margin: 60px 40px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 72px;
        text-align: center;
        line-height: 80px;
        padding: 150px 35px 21px 35px;
    }
    .presentation .sub-title {
        padding: 10px 0 0 35px;
    }
    .presentation button {
        margin: 72px 206px;
    }
}

@media screen and (max-width: 450px) {
    .presentation {
        height: 402px;
    }
    .title {
        font-size: 36px;
        /* text-align: center; */
        line-height: 1.22;
        padding: 56px 35px 21px 35px;
    }
    .presentation .sub-title {
        font-size: 16px;
        font-weight: 300;
    }
    .presentation button {
        margin: 65px calc((100vw - 187px)/2);
    }
}
