<h3 class="breadcrumbs">
  <a routerLink='' class="breadcrumbs_main">Главная</a>
  <span class="breadcrumbs_additional"><span class="dash">&nbsp;/&nbsp;</span>Контакты</span>
</h3>

<div class="panel form">
  <h3 class="contacts_header">Подпишитесь на рассылку сегодня и узнайте о самом важном первым.</h3>
  <div class="controls">
    <div class="footer-feedback">
      <a class="mail" href="mailto:admin@smedx.com">admin@smedx.com</a>
      <!-- <address><a href="https://goo.gl/maps/zEVXGfHhyex" target="_blank">9 Tv. Alto de Vila Porto Portugal</a></address> -->
      <address><a
          href="https://www.google.com/maps/place/%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5+%D1%88.,+34%D0%91,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+443086/@53.2127016,50.1781783,19z/data=!3m1!4b1!4m5!3m4!1s0x41661ebcc5da1aa3:0x5e9e775d8b32bf3d!8m2!3d53.2127016!4d50.1787255"
          target="_blank">443086, Россия, Самара, Московское шоссе <br />34А, корпус 3Б</a></address>
    </div>
    <div class="fields">
      <form>
        <div class="form-field">
          <input placeholder="Ваша электронная почта" type="email" [(ngModel)]="form.email" name="email" class="email"
            id="mce-EMAIL" />
        </div>
        <div class="form-field inline">
          <input type="text" placeholder="Ваше имя" [(ngModel)]="form.name" name="name" />
          <input type="submit" value="&#9654;" name="subscribe" (click)="subscribe(form)" />
        </div>
      </form>
      <!-- <form action="http://goodnewssmedxcom.dmsubscribe.ru/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
        class="validate" target="_blank">
        <input type="hidden" name="list_id" value="19889">
        <input type="hidden" name="no_conf" value="">
        <input type="hidden" name="notify" value="">
        <div class="form-field">
          <input placeholder="Ваша электронная почта" type="email" value="" name="email" class="email" id="mce-EMAIL" />
        </div>
        <div class="form-field inline">
          <input type="text" placeholder="Ваше имя" name="merge_1" />
          <input type="submit" value="&#9654;" name="subscribe" id="mc-embedded-subscribe" />
        </div>
      </form> -->
    </div>
  </div>
</div>