<div id="contactForm" class="contact-panel contact-form">
  <h3 class="contact-title">Обратная связь</h3>
  <div class="contact-controls">
    <div class="cnt-text">
      У вас есть вопросы и/или предложения? Напишите нам!
    </div>
    <div class="cnt-fields">
      <form #contactForm="ngForm" novalidate>
        <div class="contact-form-field">
          <input type="text" placeholder="Ваше имя" name="requester" ngModel required requester />
          <!-- <span ng-show="form.name.$dirty && form.name.$error.required">Name is required</span> -->
          <!-- <div ng-messages="myForm.name.$error" ng-if="myForm.$submitted">
                    <div ng-message="required">Please enter user address.</div>
                    <div ng-message="maxlength">Should be less than 30 chars</div>
                  </div> -->
        </div>
        <div class="contact-form-field">
          <input type="text" placeholder="Ваша электронная почта" type="email" value="" name="email" class="email" id="mce-EMAIL"
            ngModel required email />
          <!-- <span ng-show="form.email.$dirty && form.email.$error.required">Email is required</span> -->
          <!-- <div ng-messages="myForm.email.$error" ng-if="myForm.$submitted">
                    <div ng-message="required">Please valid email address.</div>
                  </div>-->
        </div>
        <div class="contact-form-field">
          <textarea placeholder="Ваше сообщение" type="textarea" name="message" ngModel required message ng-minlength="5"
            style="resize: none;"></textarea>
          <!-- <span ng-show="form.message.$dirty && form.message.$error.required">message is required</span> -->
          <!-- <div ng-messages="myForm.message.$error" ng-if="myForm.$submitted">
                    <div ng-message="required">Please enter user address.</div>
                    <div ng-message="maxlength">Should be less than 30 chars</div>
                  </div> -->
        </div>
        <div class="contact-form-field">
          <input type="submit" value="Отправить" name="subscribe" (click)="submit(contactForm)" />
        </div>
      </form>
    </div>
  </div>
</div>