<header class="site-header">
  <div class="logo">
    <a (click)="selectMenu(rootMenu)">
      <img src="/static/ng/assets/images/ic_logo_header.png" class="logo-image" />
    </a>
  </div>
  <ul class="site-menu" id="menu">
    <li *ngFor="let menuItem of menuItems">
      <span *ngIf="menuItem.selected; then selectedBlock; else unselectedBlock"></span>
      <ng-template #selectedBlock><a (click)="selectMenu(menuItem)" class="selectedLi">{{menuItem.title}}</a></ng-template>
      <ng-template #unselectedBlock><a (click)="selectMenu(menuItem)" class="defaultLi">{{menuItem.title}}</a></ng-template>
    </li>
  </ul>
</header>
<header class="mobile-header">
  <!-- this is mobile header!!! -->
  <div class="mobile-header-content">
    <a (click)="selectMenu(rootMenu)">
      <img src="/static/ng/assets/images/ic_logo_header.png" class="logo-image" />
    </a>
    <div class="navbar-toggler" (click)="toggle()">
      <span *ngIf="isCollapsed; then hamburger; else cross"></span>
      <ng-template #hamburger>
        <div class="navbar-toggler-icon"></div>
      </ng-template>
      <ng-template #cross>
        <div class="navbar-cross-icon"></div>
      </ng-template>
    </div>
  </div>

  <ul class="ham-menu" id="ham-menu">
    <li class="ham-menu-item" *ngFor="let menuItem of menuItems">
      <a (click)="selectMenu(menuItem)">{{menuItem.title}}</a>
    </li>
  </ul>
</header>
<div *ngIf="checkRoute()" class="line"></div>